<div class="page">
  <div>
    <div class="dropdown">
      <button mat-raised-button class="info-button" matTooltip="DoorBoard Info" matTooltipPosition="left" (click)="toggleDropDown()" class="dropbtn">
        <h1>{{getName()}}'s DoorBoard</h1>
      </button>
      <div *ngIf="!confirmDropDown" class="dropdown-content">
      <br>
      <div>
        <h3> Email: {{getEmail()}} </h3>
        <h3> Office: {{getBuilding()}} {{getOfficeNumber()}}</h3>
        <a href="{{getGcal()}}">{{getName()}}'s Google Calendar</a>
      </div>
      </div>
    </div>

    <div class="doorboard-title">
      <h1>{{getName()}}'s DoorBoard</h1>
    </div>
  </div>

 <!--Pinned Notes-->
 <div fxLayout="row wrap" fxLayoutGap="30px" class="note-cards-container" >
  <p>Pinned Notes</p>
  <app-note-card-viewer simple="true" *ngFor="let note of this.pinnedNotes"   class="note-card" [note]="note" fxFlex="1 1 280px"></app-note-card-viewer>
</div>

<!--Notes-->
<div fxLayout="row wrap" fxLayoutGap="30px" class="note-cards-container" >
  <p>Other Notes</p>
  <app-note-card-viewer simple="true" *ngFor="let note of this.isExpiredNotes" class="note-card" [note]="note" fxFlex="1 1 280px"></app-note-card-viewer>
</div>

    <!--google calendar and related-->
    <!-- <div class="grid-container">
    <div class="gcal-embed" *ngIf="this.doorBoard">
      <iframe [src]="this.GcalURL" style="border: 0" width="450" style="border: 0" height="700" frameborder="0"
        scrolling="auto"></iframe>
    </div>
  </div> -->
</div>
