

.navbar {
  right: 50px;
}

.page {
display: flex;
flex-wrap: wrap;
}

.dropDown {
background-color: red;
align-content: left;
}

.note-card {
margin: 0.5rem;
max-width: 20rem;
white-space: pre-wrap;
}

.add-button-container {
left:25px;
margin: 0em;
margin-left: -10px;
}

.return-button {
  align-content: left;
  margin: 1em;
  margin-left: 10px;
}
.grid-container {
  display: grid;
  margin: 0.5rem;
}

.note-card {
  display: flex;
  flex-direction: row;
}

.note-list-add-date {
  font-size: smallest;
}

button {
  text-align: center;
  margin:auto;
  color: white;
  background-color: #1764C1;
}
a {
  text-decoration: none;
  color: white;
  background-color: #1764c1;
}
