

.doorBoard-doorBoard-card{
  padding: 20px;
  font-weight: 900;
}

.yourDoorboardBtn{
  color: white;
  background-color: #1764C1;
  margin: 5px;
}


.heading{
  font-size: large;
  justify-content: center;
}
