
.navbar {
  right: 50px;
}

.page {
display: grid;
flex-wrap: wrap;
}

.dropDown {
background-color: red;
align-content: left;
}

.note-card {
margin: 0.5rem;
max-width: 20rem;
white-space: pre-wrap;
}

.add-button-container {
align-content: center;
margin-left: 11em;
margin-right: -50px;
position: relative;

}

.qrCode {
  margin-left: 20em;

  }

// .add-note-button {
//   padding-left: 30em;

// }

// .viewer-page-button {
//   padding-left: 30em;

// }

// .favorite-button {
//   margin-top: 10px;

// }

.return-button {
  margin-top: 10px;

}

// .gcal-embed iframe {
  //   width: max-content;
  //   min-width: 30rem;
  //   max-width: 60rem;
  // }

  .gcal-grid-container {
    display: grid;
    margin: 5rem;
  }

  .gcal-embed {
    min-width: 478px;
    width: 100%;
    }

    .gcal-embed iframe {
    min-width: 478px;
    position: absolute;
    width: 55%;
    height: 100%;
    }


.grid-container {
  display: grid;
  margin: 0.5rem;
}

.note-card {
  // margin: 0.5rem;
  // max-width: 20rem;
  // white-space: pre-wrap;
  display: flex;
  flex-direction: row;
}

button {
  //padding: 10px;
  text-align: center;
  margin:auto;
  color: white;
  background-color: rgb(0, 67, 95);
  //margin-top: 10px;
}

.info-fab {
  background-color: palevioletred;
}

a {
  // padding: 10px;
  background-color: rgb(0, 67, 95);
  // margin-top: 10px;
  text-decoration: none;
  color: white;
}

.note-card-container {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
}
